<footer id="meta">

  <ul>
    <li class="documentation"><a href="https://solr.apache.org/guide/solr/latest/" target="_blank"><span>Documentation</span></a></li>
    <li class="query-syntax"><a href="https://solr.apache.org/guide/solr/latest/query-guide/query-syntax-and-parsers.html" target="_blank"><span>Solr Query Syntax</span></a></li>
    <li class="community"><a href="https://solr.apache.org/community.html" target="_blank"><span>Community</span></a></li>
    <li class="issues"><a href="https://issues.apache.org/jira/browse/SOLR" target="_blank"><span>Issue Tracker</span></a></li>
    <li class="chat"><a href="https://s.apache.org/solr-slack" target="_blank"><span>Slack</span></a></li>
    <li class="chat"><a href="https://web.libera.chat/?channels=#solr" target="_blank"><span>IRC</span></a></li>
  </ul>

</footer>
