
#header
{
  padding-bottom: 10px;
  position: fixed;
  z-index: 42;
}

.scroll #header
{
  position: absolute;
}

#header #solr
{
  background-image: url( ../../../../assets/img/solr.svg );
  background-size: 128px;
  display: block;
  height: 78px;
  width: 150px;
}

#header #solr span
{
  display: none;
}

.loader
{
  background-image: url( ../../../../assets/img/loader.gif ) !important;
}

.loader-light
{
  background-image: url( ../../../../assets/img/loader-light.gif ) !important;
}

.universal-loader {
  position: absolute;
  left: -16px;
  top: 0px;
  width: 16px;
  height: 16px;
}

