/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#content-wrapper
{
  margin-left: 150px;
  border: 1px solid #c0c0c0;
  min-height: 500px;
}

#content
{
  padding: 10px;
}

#content > .loader
{
  background-position: 0 50%;
  padding-left: 21px;
}

#content iframe
{
  border: 0;
  display: block;
  min-height: 400px;
  width: 100%;
}

#content .block
{
  margin-bottom: 10px;
}

#content .block h2
{
  background-color: #fafafa;
  background-position: 5px 50%;
  border-bottom: 1px solid #f0f0f0;
  font-weight: bold;
  padding: 5px;
  padding-left: 26px;
}

#content .block.disabled,
#content .block.disabled h2
{
  color: #c0c0c0;
}

#content .block .message,
#content .block .content
{
  padding: 5px;
}


.header-message
{
  border: 1px solid #f00;
  margin-left: 150px;
  margin-bottom: 20px;
}

.header-message h2,
.header-message ul,
.header-message p
{
  padding: 10px;
}

.header-message h2
{
  background-color: #f00;
  color: #fff;
  font-weight: bold;
}

.header-message p
{
  color: #4D4D4D;
  padding-top: 0;
}

#loading #http-exception
{
  display: none;
}

.clearfix:after { clear: both; content: "."; display: block; font-size: 0; height: 0; visibility: hidden; }
.clearfix       { display: block; }

#wrapper
{
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: left;
}

#main
{
  min-width: 750px;
  position: relative;
}

#main.error
{
  border: 0;
  min-height: 0;
  padding-top: 20px;
}

#main.error .message
{
  background-color: #f00;
  background-image: url(../assets/img/ico/construction.png );
  background-position: 10px 50%;
  color: #fff;
  font-weight: bold;
  margin-left: 150px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 35px;
}

#main.error .code
{
  border: 1px solid #c0c0c0;
  padding: 5px;
}


#content .tree li.jstree-last
{
  background:transparent;
}

#content .tree .jstree-open > ins
{
  background-position: -36px 0;
}

#content .tree .jstree-closed > ins
{
  background-position: -18px 0;
}

#content .tree .jstree-leaf > ins
{
  background-position: 0 0;
}

#content .tree a.active
{
  background-color: #f0f0f0;
  color: #00f;
}

#content .tree a .jstree-icon
{
  background-image: url(../assets/img/ico/folder.png );
  background-position: unset;
}

#content .tree .jstree-leaf a .jstree-icon
{
  background-image: url(../assets/img/ico/document-text.png );
  background-position: unset;
}

#content .tree .jstree-search
{
  font-style:italic;
}

#content .tree a.jstree-search
{
  color:aqua;
}

#content .address-bar
{
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url(../assets/img/ico/ui-address-bar.png );
  background-position: 5px 50%;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 0 #f0f0f0;
  -moz-box-shadow: 1px 1px 0 #f0f0f0;
  -webkit-box-shadow: 1px 1px 0 #f0f0f0;
  color: #4D4D4D;
  display: block;
  overflow: hidden;
  padding: 5px;
  padding-left: 26px;
  white-space: nowrap;
}

#content .address-bar:focus,
#content .address-bar:hover
{
  border-color: #c0c0c0;
  box-shadow: 1px 1px 0 #d8d8d8;
  -moz-box-shadow: 1px 1px 0 #d8d8d8;
  -webkit-box-shadow: 1px 1px 0 #d8d8d8;
  color: #333;
}
