<div id="threads" [ngClass]="getIsVisible() ? 'expanded' : 'collapsed'">

  <app-toggle-stack-trace-button (isDisplay)="toggleStackTraces($event)"/>

  <div id="thread-dump">

    <table border="0" cellpadding="0" cellspacing="0">

      <thead>

      <tr>

        <th class="name">name</th>
        <th class="time">cpuTime / userTime</th>

      </tr>

      </thead>

      <tbody>
        @for (thread of getThreads(); track $index){
          <tr class="{{isOdd($index)?'odd':''}} {{isLocked(thread.lock)?'lock': ''}} {{thread.showStackTrace? 'stackTrace':''}} {{thread.state}}">
            <td class="name">
              <a title="{{thread.state}}" (click)="toggleStackTrace(thread)"><span>{{thread.name}} ({{thread.id}})</span></a>
              <p title="Waiting on" *ngIf="isLocked(thread.lock)">{{thread.lock}}</p>
              <div *ngIf="isNotEmpty(thread.stackTrace)">
                <ul>
                  @for(sTrace of thread.stackTrace; track sTrace.id) {
                    <li> {{sTrace.traceInfo}}</li>
                  }
                </ul>
              </div>
            </td>
            <td class="time">{{thread.cpuTime}} <br> {{thread.userTime}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

<app-toggle-stack-trace-button (isDisplay)="toggleStackTraces($event)"/>

</div>
