<div id="threads" ng-class="showAllStacktraces ? 'expanded' : 'collapsed'">

  <div class="controls">
    <a ng-click="toggleStacktraces()">
      <span>{{showAllStacktraces?"Hide":"Show"}} all Stacktraces</span>
    </a>
  </div>

  <div id="thread-dump">

    <table border="0" cellpadding="0" cellspacing="0">

      <thead>

      <tr>

        <th class="name">name</th>
        <th class="time">cpuTime / userTime</th>

      </tr>

      </thead>

      <tbody>
      <tr ng-repeat="thread in threads" class="{{$odd?'odd':''}} {{thread.lock?'lock':''}} {{thread.stackTrace?'stacktrace':''}} {{thread.state}}">
        <td class="name">
          <a title="{{thread.state}}" ng-click="toggleStacktrace(thread)"><span>{{thread.name}} ({{thread.id}})</span></a>
          <p title="Waiting on" ng-show="thread.lock">{{thread.lock}}</p>
          <div ng-show="thread.showStackTrace">
            <ul>
              <li ng-repeat="trace in thread.stackTrace track by trace.id">{{trace.trace}}</li>
            </ul>
          </div>
        </td>
        <td class="time">{{thread.cpuTime}}<br>{{thread.userTime}}</td>
      </tr>
      </tbody>

    </table>

  </div>

  <div class="controls">
    <a ng-click="toggleStacktraces()">
      <span>{{showAllStacktraces?"Hide":"Show"}} all Stacktraces</span>
    </a>
  </div>

</div>
